@charset "UTF-8";
/* PRECSS */
/* 要素 */
body {
    font-size: 16px;
    text-align: center;
    color: #555;
    overflow-x: hidden;
}

header {
    z-index: 99;
    position: absolute;
}

ul,li {
    margin: 0;
    padding: 0;
}

/* クリアフィックス */
.cf::after {
  content: '';
  display: block;
  clear: both;
}

/* layout */
.ly_header{
    margin-top: -150px;
    margin-bottom: 0px;
    width: 100%;
}

.ly_logo {
    text-align: left;
    padding: 10px;
    padding-bottom: 0;
    margin-bottom: -10px;
}

.ly_logo img{
    height: 60px;
    width: auto;
}

.ly_logo p{
    min-height: 60px;
    padding-top: 38px;
}

.ly_body{
    width: 100%;
    margin: 0;
    margin-top: 150px;
    background-color: #fff;
    background-image: -moz-linear-gradient(top, #fff 0%, #fff 50%, #00568c 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(0.5, #fff), color-stop(1, #00568c));
}
.ly_main{
    padding: 10px;
}

.ly_container{
    margin-left: 20px;
    box-shadow: 0px 2px 20px #ccc;
    border-radius: 10px;
    min-height: 2400px;
    padding: 20px;
    margin-top: 20px;
    background-color: #fff;
}
.ly_aside{
    padding: 10px;
}

.ly_aside_content{
    box-shadow: 0px 2px 20px #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    background-color: #fff;
}
.ly_aside_content div {
    max-width: 100%;
    text-align: left;
}

.ly_aside_content img {
    max-width: 100%;
    max-height: 150px;
    border: 1px solid #ccc;
    margin: 10px auto;
}


.ly_aside_content h4 {
    font-size: 110%;
    font-weight: 700;
    text-align: left;
    margin: 10px auto;
    padding: 0.2em 0.4em;
    border-bottom: 1px solid #3161b4;
}

.ly_aside_content h4::before{
    content: url(../img/logo.svg);
    display: inline-block;
    width: 20px;
    height: auto;
    margin-left: -14px;
    margin-right: 6px;
}

.ly_footer{
    background-color: #00568c;
    color: #fff;
    width: 100%;
    padding: 20px;
    font-weight: 700;
}
/* block */
ul.bl_navbar {
	width: 100%;
	*zoom: 1; /*forIE6,7*/
    list-style: none;
}

ul.bl_navbar li {
	float: left;
	*zoom: 1; /*forIE6,7*/
	white-space: nowrap;
}

ul.bl_navbar:first-child :hover{
    opacity: 0.9;
    transition: 0.6s;
}


ul.el_nav_dropdown li ul {
	display: none;
	visibility: hidden;
	position: absolute;
    list-style: none;
}

ul.el_nav_dropdown li:hover > ul {
	visibility: visible;
}

ul.bl_navbar li ul li {
	width: auto !important;
	width: 100%;
	min-width: 100%;
	clear: left;
	position: relative;
	top:100%;
}
ul.bl_navbar li ul li ul {
	top: 100%;
	left: 0;
	z-index:100;
	width:100%;
}
ul.bl_navbar li a {
	display: block;
	text-align: center;
	text-decoration: none;
    min-height: 40px;
    padding-top: 10px;
    font-size: 85%;
}

ul.bl_navbar li ul li  :hover{
    opacity: 0.8;
    transition: 0.6s;
}


* html ul.bl_navbar li a { /*forIE6*/
	zoom: 1;
}

h2.bl_ttl {
    text-align: left;
    padding-top: -10px;
    font-weight: 700;
    font-size: 180%;
    padding-left: 40px;
    margin: 20px 4px;
}

h2.bl_ttl:before{
    content: url(../img/logo.svg);
    display: inline-block;
    width: 34px;
    height: auto;
    margin-left: -40px;
    margin-right: 6px;
}

.bl_sect_ttl a{
    color: #555;
}

.ly_index h2.bl_ttl {
}

.ly_index .bl_entry_info {
    float: right;
    margin-left: 0;
    width: 420px;
}

.ly_index p{
    float: right;
    margin-left: 0;
    width: 420px;
}


.ly_index p.el_catch{
    float: left;
    width: 180px;
    height: auto;
    margin-right: 10px;
}

.ly_index p.catch img{
    border: 1px solid #ccc;
    max-width: 100%;
    max-height: 500px;
    margin: 10px auto;
}

.bl_taggs{
    text-align: left;
}
.bl_taggs a{
    display: inline-block;
    background-color: #3a489e;
    color: #fff;
    border-radius: 8px;
    font-size: 90%;
    padding: 0.2em 0.4em;
}

.bl_entry_date{
    text-align: right;
    min-width: 200px;
}

.bl_entry_txt{
    text-align: left;
    line-height: 1.8em;
    margin-bottom: 30px;
}

.bl_entry_txt h3{
    font-weight: 700;
    font-size: 150%;
    border-left: 4px solid #666;
    padding: 0.2em 0.4em;
}

.bl_btn_social{
    width: 100%;
    margin-left: 18px;
    margin-bottom: 16px;
}

div.bl_btn_social{
}

.bl_btn_social div{
}

.el_snsbtn__amount{
    font-family: Arial;
    color: #555;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.el_snsbtn__hatena{
    background-color: #00A4DE;
    color: #fff;
    padding: 4px;
}

.el_snsbtn__facebook{
    background-color: #405BA7;
    color: #fff;
    padding: 4px;
}
.el_snsbtn__twitter{
    background-color:#55ACEE;
    color: #fff;
    padding: 4px;
}
.el_snsbtn__googleplus{
    background-color:#C53727;
    color: #fff;
    padding: 4px;
}
.el_snsbtn__pocket{
    background-color:#EE4256;
    color: #fff;
    padding: 4px;
}

.bl_prof_aside{
    background-color: #cdf3ff;
    border-radius: 8px;
    padding: 10px;
    font-size: 95%;
}

.bl_prof_footer{
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
    color: #333;
    position: relative;
    min-height: 240px;
}

.bl_prof_footer::before{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: -65px;
  top: 60px;
  border-right: 120px solid #fff;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
.bl_prof_aside ul{
    list-style: none;
}

.bl_prof_aside ul a{
    font-size: 110%;
}


ul.bl_postList {
    list-style: none;
}

div.bl_postList_box{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
}

div.bl_postList_box:hover{
    opacity: 0.5;
    transition: 0.8s;
}


.bl_postList_img {
    border: 1px solid #ccc;
    margin-right: 6px;
}

div.bl_postList_img {
    overflow: hidden;
    padding: 0;
}
.bl_postList_img img {
    border: none;
    object-fit: cover;
    margin-left: -25%;
    margin-top: -25%;
}

.bl_postList_img img:hover {

}


div.bl_postList_ttl {
    overflow: hidden;
    text-align: left;
}


.bl_postList a {
    color: #333;
    font-weight: 700;
}

.bl_postList a:hover {
    opacity: 0.5;
    transition: 0.8s;
    text-decoration: none;
}

.el_postList__small div.bl_postList_img {
    height: 120px;
    width: 120px;
    min-width: 120px;
}

.el_postList__small .bl_postList_img img{
    width: 200px;
    height: auto;
    max-width: 200px;
}

.el_postList__small div.bl_postList_box{
    height: 140px;
}
.el_postList__small div.bl_postList_ttl{
    max-height: 120px;
}


.el_postList__middle div.bl_postList_img {
    height: 180px;
    width: 180px;
    min-width: 180px;
}

.el_postList__middle .bl_postList_img img{
    width: 360px;
    height: auto;
}

.el_postList__middle div.bl_postList_box{
    height: 200px;
}
.el_postList__middle div.bl_postList_ttl{
    max-height: 180px;
    font-size: 130%;
}

/* element */
.el_nav__pink li a {
    background: #154290;
    background-image: -moz-linear-gradient(top, #154290 0%, #154290 5%, #06398f 5%, #154290 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #154290), color-stop(0.05, #154290), color-stop(0.05, #06398f), color-stop(1, #154290));
    color: #fff;
    border: 1px solid #154290;
    border-right: 0;
}

.el_nav__pink2 li a {
    background: #3161b4;
    background-image: -moz-linear-gradient(top, #3161b4 0%, #3161b4 5%, #154290 5%, #3161b4 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3161b4), color-stop(0.05, #3161b4), color-stop(0.05, #154290), color-stop(1, #3161b4));
    color: #fff;
    border: 1px solid #3161b4;
    border-right: 0;
}

ul.el_nav__col8 li {
	width: 12.5%;
}
ul.el_nav__col8 li ul {
	width: 12.5%;
}

ul.el_nav__col5 li {
	width: 20%;
}
ul.el_nav__col5 li ul {
	width: 20%;
}

.el_catch img{
    border: 1px solid #ccc;
    max-width: 100%;
    max-height: 500px;
    margin: 10px auto;
}

.catch img{
    border: 1px solid #ccc;
    max-width: 100%;
    max-height: 500px;
    margin: 10px auto;
}

.el_underline{
    height: 1px;
    padding: 0px;
    width: 100%;
    margin-top: 0.3em;
    margin-bottom: 0.8em;
    box-shadow-blend-mode: linear;
        background-image: -webkit-linear-gradient(left, transparent, #ff6b00 90%, #ff6b00 70%, transparent);
        background-image: linear-gradient(to right, transparent, #ff6b00 90%, #ff6b00 70%, transparent);
        background-position: center;
        background-repeat: no-repeat;
}

/* トップに戻るボタン */
.bl_btn_BackToTop {
    position: fixed;
    bottom: 60px;
    right: 20px;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: #ff6b00;
    border: 1px solid #fff ;
    display: none;
    color: #ffffff;
    opacity: 0.9;

    /* 透明度をふわっと変える演出 */
    transition: opacity .25s;

    font-size: 3rem;
    line-height: 55px;
    text-align: center;
    text-decoration: none;
}

.bl_btn_BackToTop a{
    color: #ffffff;
}


/* マウスを乗せた時に透明度を変える */
.bl_btn_BackToTop:hover {
    background-color: #ffae36;
    transition: 0.6s;
}

.bl_btn_BackToTop a :hover {
}

.bl_btn_BackToTop a :hover {
    text-decoration: none;
}

/* Font Awesome hatena bookmark */
.fa-hatena:before {
    content: "B!";
    font-family: Verdana;
    font-weight: bold
}
